<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="bg-primaryTheme">
    <div class="absolute end-0 m-3 flex" id="themeToggleContainer">
      <label
        for="themeToggle"
        class="flex cursor-pointer select-none items-center"
      >
        <div class="relative">
          <input type="checkbox" id="themeToggle" class="peer sr-only" />
          <div
            class="box block h-9 w-16 rounded-full border-2 border-tertiaryTheme bg-secondaryTheme shadow-md shadow-tertiaryTheme/80"
          ></div>
          <div
            class="dot absolute left-1 top-1 flex h-7 w-7 justify-center rounded-full bg-quaternaryTheme transition peer-checked:translate-x-full"
          >
            <img
              id="themeIcon"
              src="light-icon.svg"
              ;
              height="20px"
              width="20px"
            />
          </div>
        </div>
      </label>
    </div>

    <div class="flex h-dvh flex-col items-center">
      <h1
        class="josefin-sans-importFont text-shadow mt-10 pt-3 text-secondaryTheme text-shadow-blur-xl text-shadow-x-3 text-shadow-tertiaryTheme"
      >
        🍻 Mckenzie's Brewery Notes 🍻
      </h1>
      <button class="bg-sky-500 ~px-4/8 ~py-2/4 ~text-sm/xl">Fluid button</button>
      <div class="flex flex-grow flex-col justify-center">
        <button
          type="button"
          class="mb-2 me-2 w-full rounded-lg bg-gradient-to-r from-secondaryTheme via-tertiaryTheme to-quaternaryTheme px-5 py-2.5 text-center font-medium text-primaryTheme shadow-lg shadow-tertiaryTheme/80 hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-quaternaryTheme"
        >
          My Brewery Notes
        </button>

        <form class="mx-auto max-w-sm">
          <div>
            <label
              for="small-input"
              class="my-3 block text-center font-medium text-tertiaryTheme"
              >Search for a Brewery</label
            >
            <input
              type="text"
              id="small-input"
              placeholder="Type here!"
              class="block rounded-lg border border-secondaryTheme bg-primaryTheme p-2 text-center text-tertiaryTheme focus:border-quaternaryTheme focus:bg-white"
            />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
