<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Mckenzie's Brewery Notes</title>
  </head>
  <body class="bg-primaryTheme">
    <div class="mx-auto flex h-dvh w-fit flex-col items-center">
      <div class="relative">
        <div class="absolute end-0 m-3 flex" id="themeToggleContainer">
          <label
            for="themeToggle"
            class="flex cursor-pointer select-none items-center"
          >
            <div class="relative">
              <input type="checkbox" id="themeToggle" class="peer sr-only" />
              <div
                class="box block h-9 w-16 rounded-full border-2 border-tertiaryTheme bg-secondaryTheme shadow-md shadow-tertiaryTheme/80"
              ></div>
              <div
                class="dot absolute left-1 top-1 flex h-7 w-7 justify-center rounded-full bg-quaternaryTheme transition peer-checked:translate-x-full"
              >
                <img
                  id="themeIcon"
                  src="light-icon.svg"
                  ;
                  height="20px"
                  width="20px"
                />
              </div>
            </div>
          </label>
        </div>
        <h1
          class="josefin-sans-importFont text-shadow mx-3 mb-10 mt-12 pt-10 text-secondaryTheme text-shadow-blur-xl text-shadow-x-3 text-shadow-tertiaryTheme ~/3xl:~text-5xl/8xl 2xl:text-nowrap 3xl:text-[7.5rem]"
        >
          🍻&nbsp;Mckenzie's Brewery Notes&nbsp;🍻
        </h1>
      </div>
      <div class="flex flex-grow flex-col justify-center ~/3xl:~text-xl/5xl">
        <button
          type="button"
          class="mb-10 me-2 w-full rounded-lg bg-gradient-to-r from-secondaryTheme via-tertiaryTheme to-quaternaryTheme px-5 py-2.5 text-center font-medium text-primaryTheme shadow-lg shadow-tertiaryTheme/80 hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-quaternaryTheme"
        >
          My Brewery Notes
        </button>

        <form id="search" action="/search" method="POST">
          <input type="hidden" id="currentThemeSetting" name="currentThemeSetting" value="">
            <div class="flex flex-col">
                <label
                for="user_input"
                class="my-3 block text-nowrap text-center font-medium text-tertiaryTheme"
                >Search for a Brewery</label>
              <input
                <% if (locals.queryResults) { %>
                  data-last_query="<%=lastQuery%>"
                data-query_results="<%=JSON.stringify(queryResults)%>"
                data-last_theme="<%=lastTheme%>"
                <% } %>
                type="text"
                id="user_input"
                name="query"
                placeholder="Type here!"
                class="focus:outline-none focus:ring-2 focus:ring-tertiaryTheme focus:shadow-2xl focus:shadow-tertiaryTheme my-1 border border-secondaryTheme bg-primaryTheme p-2 text-center text-tertiaryTheme focus:bg-white "
              />
              <div class=" grid grid-cols-1 divide-y divide-secondaryTheme bg-white text-center text-tertiaryTheme">
                <% if (locals.queryResults) { %>
                  <% queryResults.forEach( (elmt) => { %>
                    <div class="queryResultItem flex items-center justify-center min-h-full py-2 px-4 shadow-md shadow-tertiaryTheme hover:text-shadow text-shadow-blur-xl text-shadow-tertiaryTheme hover:cursor-pointer"><%= elmt.name %></div> 
                    <% }) %>
                <% } %>
              </div>
            </div>
        </form>
            <!-- Modal -->
     <!-- Modal wrapper -->
     <div id="modalWrapper" class="fixed self-center hidden">
      <div class=""></div>
        <!-- Modal box -->
         <div class="rounded-3xl flex flex-col h-[500px] w-[750px] bg-secondaryTheme">
          <h1 class="self-center text-center">Modal</h1>
          <textarea class="min-h-min"></textarea>
          <button id="closeModal" class="self-center bg-red-600 rounded">Close</button>
         </div>
     </div>
      </div>
    </div>

     
    <script src="index-bundle.js"></script>
  </body>
</html>
