<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="bg-primaryTheme">
    <div class="flex absolute end-0 m-5" id="themeToggleContainer">
      <label
        for="themeToggle"
        class="flex items-center cursor-pointer select-none"
      >
        <div class="relative">
          <input type="checkbox" id="themeToggle" class="peer sr-only" />
          <div class="block h-8 rounded-full box bg-tertiaryTheme w-14"></div>
          <div
            class="absolute flex items-center justify-center w-6 h-6 transition bg-quaternaryTheme rounded-full dot left-1 top-1 peer-checked:translate-x-full"
          >
            <img
              id="themeIcon"
              src="light-icon.svg"
              ;
              height="20px"
              width="20px"
            />
          </div>
        </div>
      </label>
    </div>
    <div class="h-dvh flex-row container mx-auto justify-center">
      <h1
        class="josefin-sans-importFont text-center text-tertiaryTheme pt-3 text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
      >
        Stuff!
      </h1>
      <h2
        class="josefin-sans-importFont text-center text-quaternaryTheme text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl"
      >
        Other stuff
      </h2>
    </div>
  </body>
</html>
