<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Mckenzie's Brewery Notes</title>
  </head>
  <body class="bg-primaryTheme">
    <!-- entire screen container -->
    <div class="relative flex h-dvh w-full flex-col items-center">
      <!-- hero & theme control container -->
      <div class="absolute top-0 w-full">
        <!-- hero and theme control -->
        <div class="relative flex w-full justify-center self-start">
          <div class="absolute end-0 m-3 flex" id="themeToggleContainer">
            <label
              for="themeToggle"
              class="flex cursor-pointer select-none items-center"
            >
              <div class="relative">
                <input type="checkbox" id="themeToggle" class="peer sr-only" />
                <!-- pill-shaped gradient background (theme control switch) -->
                <div
                  class="box block h-9 w-16 rounded-full border-2 border-tertiaryTheme bg-secondaryTheme shadow-md shadow-tertiaryTheme/80"
                ></div>
                <!-- disc-shaped dark/light icon container -->
                <div
                  class="dot absolute left-1 top-1 flex h-7 w-7 justify-center rounded-full bg-quaternaryTheme transition peer-checked:translate-x-full"
                >
                  <img
                    id="themeIcon"
                    src="light-icon.svg"
                    ;
                    height="20px"
                    width="20px"
                  />
                </div>
              </div>
            </label>
          </div>
          <!-- hero -->
          <h1
            class="josefin-sans-importFont text-shadow mx-3 mb-10 mt-12 pt-10 text-center font-black text-secondaryTheme text-shadow-blur-xl text-shadow-x-3 text-shadow-tertiaryTheme ~/3xl:~text-5xl/8xl 2xl:text-nowrap 3xl:text-[7.5rem]"
          >
            🍻&nbsp;Mckenzie's Brewery Notes&nbsp;🍻
          </h1>
        </div>
      </div>

      <!-- button gradient background -->
      <div
        class="~text-lg/4xl absolute top-[35%] min-w-fit rounded-xl bg-gradient-to-r from-secondaryTheme via-tertiaryTheme to-quaternaryTheme p-2 shadow-xl shadow-tertiaryTheme/50 hover:bg-gradient-to-br active:scale-95 active:shadow-inner"
      >
        <button
          id="returnHomeButton"
          type="button"
          class="josefin-sans-importFont me-2 min-w-full rounded-lg bg-secondaryTheme px-5 py-2.5 text-center font-extrabold text-tertiaryTheme active:shadow-inner"
        >
          Return Home
        </button>
      </div>

      <!-- accordion -->
      <div
        class="accordionWrapper absolute top-[50%] w-full rounded-xl bg-gradient-to-r from-secondaryTheme via-tertiaryTheme to-quaternaryTheme px-1.5 py-[.03125rem] shadow-xl shadow-tertiaryTheme/50 sm:~w-[40rem]/[70rem]"
      >
        <!-- accordion heading 1 -->
        <div
          class="relative my-2 rounded-md bg-secondaryTheme py-2 pe-10 ps-3 font-bold text-quaternaryTheme ~text-lg/4xl"
        >
          <h1 class="ps-3">
            Crux Brewery | 12345 main st. Oregon City, OR 97045 |
            April&nbsp;9th,&nbsp;2024
          </h1>
          <input id="header1Input" type="checkbox" class="peer hidden" />
          <label
            for="header1Input"
            class="absolute inset-0 z-10 h-full w-full cursor-pointer rounded-md bg-transparent"
          ></label>
          <img
            src="chevron-light.svg"
            class="accordionChevron absolute end-0 top-1 inline-block transform transition-transform duration-300 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer peer-checked:rotate-180"
            alt="Image description"
          />
          <div
            class="h-0 w-full overflow-hidden font-medium text-tertiaryTheme transition-all duration-100 ease-in-out ~text-sm/2xl peer-checked:h-full peer-checked:p-3"
          >
            <div class="mb-3 flex font-bold ~text-lg/4xl">
              Rating:
              <img
                id="emptyMugs0"
                class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
                src="empty-mugs-light.svg"
              />
              <img
                id="emptyMugs1"
                class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
                src="empty-mugs-light.svg"
              />
              <img
                id="emptyMugs2"
                class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
                src="empty-mugs-light.svg"
              />
              <img
                id="emptyMugs3"
                class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
                src="empty-mugs-light.svg"
              />
              <img
                id="emptyMugs4"
                class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
                src="empty-mugs-light.svg"
              />
              <img
                id="emptyMugs5"
                class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
                src="empty-mugs-light.svg"
              />
              <img
                id="emptyMugs6"
                class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
                src="empty-mugs-light.svg"
              />
              <img
                id="emptyMugs7"
                class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
                src="empty-mugs-light.svg"
              />
              <img
                id="emptyMugs8"
                class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
                src="empty-mugs-light.svg"
              />
              <img
                id="emptyMugs9"
                class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
                src="empty-mugs-light.svg"
              />
            </div>
            <p
              class="relative z-20 overflow-y-auto ~max-h-[9.375rem]/[12.5rem]"
            >
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit
              adipisci veniam reiciendis laudantium voluptatem in incidunt! Quod
              doloribus nostrum autem! Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Impedit adipisci veniam reiciendis laudantium
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit
              adipisci veniam reiciendis laudantium voluptatem in incidunt! Quod
              doloribus nostrum autem! Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Impedit adipisci veniam reiciendis laudantium
            </p>
            <div
              class="float-end mt-2 inline-flex transition-all duration-300 ease-in-out"
            >
              <img
                id="editButton1"
                src="edit-light.svg"
                class="editButtons z-20 mx-2 rounded-xl border-4 border-quaternaryTheme p-1 shadow-md shadow-tertiaryTheme ~h-[2.5rem]/[4rem] ~w-[2.5rem]/[4rem] hover:cursor-pointer active:scale-95 active:shadow-inner"
              />
              <label class="z-20 rounded-xl" for="confirmationModalToggle">
                <img
                  id="deleteButton1"
                  src="delete-light.svg"
                  class="deleteButtons z-20 rounded-xl border-4 border-quaternaryTheme p-2 shadow-md shadow-tertiaryTheme ~h-[2.5rem]/[4rem] ~w-[2.5rem]/[4rem] hover:cursor-pointer active:scale-95 active:shadow-inner"
                />
              </label>
            </div>
          </div>
        </div>
        <!-- / accordion heading 1 -->
      </div>
      <!-- confirmation modal toggle -->
      <input type="checkbox" id="confirmationModalToggle" class="peer hidden" />
      <!-- modal backdrop/wrapper -->
      <label
        for="confirmationModalToggle"
        class="fixed inset-0 z-30 hidden bg-black bg-opacity-50 peer-checked:block"
      ></label>
      <!-- modal gradient background -->
      <div
        id="confirmationModalBackground"
        class="animate__animated animate__zoomIn fixed inset-y-2/4 z-30 hidden w-fit self-center rounded-3xl bg-gradient-to-r from-secondaryTheme via-tertiaryTheme to-quaternaryTheme p-2 shadow-lg shadow-tertiaryTheme peer-checked:block"
      >
        <div
          id="confirmationModalBox"
          class="z-30 flex h-fit flex-col rounded-2xl bg-secondaryTheme ~w-[25rem]/[50rem]"
        >
          <h1
            class="josefin-sans-importFont self-center p-3 text-center font-extrabold text-tertiaryTheme ~text-xl/5xl"
          >
            Are you sure you want to delete this review?
          </h1>
          <div
            class="josefin-sans-importFont flex flex-grow items-center justify-evenly p-3 ~text-base/3xl"
          >
            <label
              for="confirmationModalToggle"
              id="closeConfirmationModal"
              class="mx-2 rounded-xl border-4 border-secondaryTheme bg-tertiaryTheme text-center font-semibold text-secondaryTheme shadow-md shadow-tertiaryTheme ~w-[7.5rem]/[15rem] ~py-1/3 hover:cursor-pointer hover:bg-gradient-to-br active:scale-95 active:shadow-inner"
            >
              Close
            </label>
            <button
              class="mx-2 rounded-xl border-4 border-secondaryTheme bg-tertiaryTheme font-semibold text-secondaryTheme shadow-md shadow-tertiaryTheme ~w-[7.5rem]/[15rem] ~py-1/3 hover:bg-gradient-to-r active:scale-95 active:shadow-inner"
            >
              Delete!
            </button>
          </div>
        </div>
      </div>
      <!-- / confirmation modal -->
    </div>

    <script src="/notes-bundle.js"></script>
  </body>
</html>
